* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #feece2;
}

.container {
  background-color: #ffbe98;
  padding: 5rem;
  border-radius: 5rem;
  border-style: groove;
  min-height: 45vh;
  width: 40%; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.container:hover {
  transform: scale(1.05) rotateY(10deg); 
}

h2 {
  font-size: 2.5rem; 
  font-family: 'Arial Black', sans-serif; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  margin-bottom: 1rem; 
  text-align: center;
  background-color: #feece2;
  border-radius: 0.5rem;
}


form select,button,input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
.from {
  font-size: 1rem;
  font-family:'Arial Black', sans-serif; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
.to{
  font-size: 1rem; 
  font-family:'Arial Black', sans-serif; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
.amount {
  margin-bottom: 1rem; 
  font-size: 1rem; 
  font-family: 'Arial Black', sans-serif; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.amount label {
  font-size: 1.25rem; 
  font-weight: bold; 
  margin-bottom: 0.5rem; 
}

.amount input {
  width: 100%;
  border: 1px solid lightgray; 
  border-radius: 0.75rem; 
  height: 3rem;
  padding-left: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #feece2;
  width: 80%; 
  border-radius: 1rem; 
  border: 1px solid rgb(10, 9, 9); 
  padding: 0.5rem 1rem; 
  transition: background-color 0.3s, transform 0.3s; 
}

.select-container:hover {
  background-color: #f0f0f0; 
  transform: scale(1.05); 
}

.select-container img {
  max-width: 3rem; 
}

.msg {
  margin: 2rem 0 2rem 0;
  text-align: center;
  background: #fff;
  border-radius: 2rem;
  font-size: 1rem; 
  font-family: 'Arial Black', sans-serif; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
.msg:hover {
  transform: scale(1.05) rotateY(10deg);
}
i.fa-solid.fa-arrow-right-arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background-color: white;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius:10px;
  transition: transform 0.3s ease-in-out;
  
}


i.fa-solid.fa-arrow-right-arrow-left:hover {
  transform: translateY(-5px);
}


form button {
  height: 3rem;
  background-color: #feece2;
  color: black;
  font-style: oblique;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s; 
  border-style: dashed;
}

form button:hover {
  transform: scale(1.05) rotateY(10deg); 
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown i {
  font-size: 1.5rem;
  margin: 0 1rem; 
}

.dropdown .from,
.dropdown .to {
  flex: 1;
  text-align: center;
}

.dropdown label {
  font-size: 1.25rem; 
  margin-bottom: 0.5rem; 
}